body {
  min-width: 357px;
  overflow-x: hidden;
}

label {
  font-weight: normal;
}

input[type=text] {
  padding-left: 3px;
}

#actionArea {
  margin-top: 10px;
}

#openMsButton {
  width: 212px;
  margin-right: 0;
  margin-left: 64px;
  background-color: #919191;
  border-color: #919191;
}

.stream-input {
  width: 212px;
}

.details-text {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

.details-button {
  margin-left: 10px;
}

.main-panel {
  margin-bottom: 0px;
}

.add-streamer-button {
  font-weight: bold;
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}
.add-streamer-button:hover {
  background-color: #000000;
  border-color: #000000;
}

.remove-streamer-button {
  padding-left: 6px;
  padding-right: 6px;
  background-color: #8b8b8b;
  border-color: #8b8b8b;
  margin-left: 3px;
 }
 .remove-streamer-button:hover {
  background-color: #696969;
  border-color: #696969;
 }

.enter-stream-row {
  margin-bottom:5px;
}

.clear-fix {
  clear:both;
}

.panel-heading.main-panel-heading {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}
